<div class="container mt-3">
    <h1 class="text-center text-info">Welcome, {{userRole | titlecase}}</h1>

    <button class="btn btn-danger px-4 mx-2" (click)="logout()">Logout</button>
    <button class="btn btn-primary px-4 mx-2" (click)="addNew(formTemplate)" *ngIf="userRole === 'admin'">Add
        New</button>

    <div>
        <input type="text" class="form-control" style="padding:8px;margin:15px auto;width:30%;"
            placeholder="Type to filter the name column..." (keyup)="updateFilter($event)" />
        <ngx-datatable #table class="material" [columns]="columns" [columnMode]="ColumnMode.force" [headerHeight]="50"
            [footerHeight]="50" rowHeight="auto" [limit]="10" [rows]="rows"></ngx-datatable>

    </div>
</div>
<ng-template #hdrTpl let-column="column">{{ column.name }}</ng-template>

<ng-template #editTmpl let-row="row" let-value="value">
    <button class="btn btn-sm btn-dark mx-1" (click)="updateDat(row, formTemplate)">Update</button>
    <button class="btn btn-sm btn-danger mx-1" (click)="deleteUser(row)">Delete</button>
</ng-template>

<ng-template #formTemplate>
    <div class="modal-header">
        <h4 class="modal-title pull-left">{{selectedUser ? 'Update' : 'Add'}} User</h4>
        <button type="button" class="btn-close close pull-right" aria-label="Close" (click)="modalRef?.hide()">
            <span aria-hidden="true" class="visually-hidden">&times;</span>
        </button>
    </div>
    <div class="modal-body">
        <app-user-form [user]="selectedUser" (close)="modalRef?.hide()"
            (savedUser)="saveUserData($event)"></app-user-form>
    </div>
</ng-template>